<!DOCTYPE html>
<html>
  <head>
    <title>Anony-board Board!</title>
    <meta name="description" content="A message board made on repl.it">
    <link id="favicon" rel="icon" href="/public/icov1_1.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 id='boardTitle'></h1>
      <div id='nav'>
        <h2>Boards: </h2>
        <a href='/b/general/'><i>/b/general/</i></a></li>
        <a href='/b/tech/'><i>/b/tech/</i></a></li>
        <a href='/b/games/'><i>/b/games/</i></a></li>
        <a href='/b/movies/'><i>/b/movies/</i></a></li>
    </header>
    
    <div id='submitNewThread'>
      <h3>Submit a new thread:</h3>
      <form id="newThread" method="post" action="/api/">
        <textarea rows="8" cols="120" type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
        <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
        <input id="thread-submit" type="submit" value="Submit">
      </form>
    </div>
    
    <div id='boardDisplay'></div>
    
    <hr style='margin: 50px; margin-top: 200px'>
    
    <script type="application/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
    <script type="application/javascript" src="/scripts/board.js"></script>
  </body>
</html>
