<!DOCTYPE html>
<html>
  <head>
    <title>Anony-board thread-view!</title>
    <meta name="description" content="A message board made on repl.it">
    <link id="favicon" rel="icon" href="/public/icov1_1.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1 id='threadTitle'></h1>
    </header>
    <br>
    
    <div id='boardDisplay'></div>
    
    <hr style='margin: 50px; margin-top: 200px'>
    
    <script type="application/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
    <script type="application/javascript" src="/scripts/thread.js"></script>
  </body>
</html>
